[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = scarthgap
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = scarthgap
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = scarthgap
[submodule "meta-qt6"]
	path = meta-qt6
	url = git://code.qt.io/yocto/meta-qt6.git
